<div #cookiebanner id="cookie-law" [ngStyle]="cookielaw">
	<div class="context">
		<span id="message" [ngStyle]="cookietext"></span>
		<span class="datasecurity" [ngStyle]="datasecurity">
			<a id="data-link" [ngStyle]="link" rel="nofollow" title="Datenschutzerklärung">Datenschutzerklärung</a>
		</span>
	</div>
	<div class="information" [ngStyle]="information">
		<div class="accept" [ngStyle]="accept">
			<a id="close-cookie-banner" href="javascript:void(0);">
				<div class="button" [ngStyle]="button">Akzeptieren</div>
			</a>
		</div>
	</div>
</div>
